<div class="container">
<h3><%= @user.name %></h3>
<p>Email: <%= @user.email if @user.email %></p>
<table class="table table-hover">
<tr>
<th>Description</th>
<th>Rating</th>
<th>Reviewer</th>
</tr>
<% @user.received_reviews.each do |review| %>
<tr>
<td><%= review.description %></td>
<td><%= review.rating.to_s %></td>
<td><%= review.reviewer.name %></td>
</tr>
<% end %>
</table>
</div>