<% @user_array = Array.new %>
<% @users.each do |user| %>
  <% @user_array.push(user.name) %>
<% end %>

<% @lecture_array = Array.new %>
<% @lectures.each do |lecture| %>
  <% @lecture_array.push(lecture.display_name) %>
<% end %>

<div class='container'>
  <h1 class='text-center'>Write a Review!</h1>
  <br>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <%= simple_form_for(Review.new, url: {action: "create"}) do |r| %>
        <%= r.input :lecture_name, collection: @lecture_array %>
        <%= r.input :person_being_reviewed, collection: @user_array %>
        <%= r.input :rating, collection: 1..5 %>
        <%= r.input :description, as: :text %>
        <%= r.button :submit %>
      <% end %>
    </div>
    <div class='col-md-3'></div>
  </div>
</div>

